@if (!encuestaEnviada && encuesta) {
  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <h2>{{ encuesta.nombre }}</h2>
    @for (pregunta of preguntas; track pregunta.numero) {
      <div class="pregunta">
        <h3>{{ pregunta.numero }}. {{ pregunta.texto }}</h3>

        @if (pregunta.tipo === 'abierta') {
          <div>
            <textarea [formControlName]="'pregunta_' + pregunta.numero"></textarea>
          </div>
        } @else if (pregunta.tipo === 'opcion_multiple_seleccion_simple') {
          <div>
            @for (opcion of pregunta.opciones; track opcion.numero) {
              <div>
                <input 
                  type="radio" 
                  [id]="'pregunta_' + pregunta.numero + '_opcion_' + opcion.numero" 
                  [formControlName]="'pregunta_' + pregunta.numero"
                  [value]="opcion.numero"
                />
                <label [for]="'pregunta_' + pregunta.numero + '_opcion_' + opcion.numero">
                  {{opcion.texto}}
                </label>
              </div>
            }
          </div>
        } @else if (pregunta.tipo === 'opcion_multiple_seleccion_multiple') {
          <div formArrayName="pregunta_{{pregunta.numero}}">
            @for (opcion of pregunta.opciones; track i; let i = $index) {
              <div>
                <input 
                  type="checkbox" 
                  [id]="'pregunta_' + pregunta.numero + '_opcion_' + i" 
                  [formControlName]="i"
                />
                <label [for]="'pregunta_' + pregunta.numero + '_opcion_' + i">
                  {{opcion.texto}}
                </label>
              </div>
            }
          </div>
        }
      </div>
    }
    <button type="submit" [disabled]="testForm.invalid">Enviar</button>
  </form>
}

@if (encuestaEnviada) {
  <div>
    <h2>Encuesta enviada correctamente!</h2>
  </div>
}