<form *ngIf="!encuestaEnviada && encuesta" [formGroup]="testForm" (ngSubmit)="onSubmit()">
  <h2>{{ encuesta.nombre }}</h2>
  <div *ngFor="let pregunta of preguntas" class="pregunta">
		<h3>{{ pregunta.numero }}. {{ pregunta.texto }}</h3>

    <div *ngIf="pregunta.tipo === 'abierta'">
      <textarea [formControlName]="'pregunta_' + pregunta.numero"></textarea>
    </div>

		<div *ngIf="pregunta.tipo === 'opcion_multiple_seleccion_simple'">
			<div *ngFor="let opcion of pregunta.opciones">
				<input 
					type="radio" 
					[id]="'pregunta_' + pregunta.numero + '_opcion_' + opcion.numero" 
					[formControlName]="'pregunta_' + pregunta.numero"
					[value]="opcion.numero"
				/>
				<label [for]="'pregunta_' + pregunta.numero + '_opcion_' + opcion.numero">
					{{opcion.texto}}
				</label>
			</div>
		</div>

		<div *ngIf="pregunta.tipo === 'opcion_multiple_seleccion_multiple'">
			<div formArrayName="pregunta_{{pregunta.numero}}">
				<div *ngFor="let opcion of pregunta.opciones; let i = index">
					<input 
						type="checkbox" 
						[id]="'pregunta_' + pregunta.numero + '_opcion_' + i" 
						[formControlName]="i"
					/>
					<label [for]="'pregunta_' + pregunta.numero + '_opcion_' + i">
						{{opcion.texto}}
					</label>
				</div>
			</div>
		</div>
  </div>
  <button type="submit" [disabled]="testForm.invalid">Enviar</button>
</form>

<div *ngIf="encuestaEnviada">
  <h2>Encuesta enviada correctamente!</h2>
</div>
