<div>
  <form [formGroup]="encuesta" (ngSubmit)="onSubmit()">
    <div class="contenedor">
      <!-- <h2>Titulo de la encuesta</h2> -->
      <input class="titulo" type="text" formControlName="nombre">
    </div>
    <div formArrayName="preguntas">
      @for (pregunta of preguntasArray.controls; track i; let i = $index) {
        <div
          [formGroupName]="i"
          class="contenedor contenedorPreguntas"
        >
          <h3>Pregunta {{ i + 1 }}</h3>
          <div class="contenedor-2">
            <input type="text" formControlName="texto" />
            <select name="" id="" formControlName="tipo">
              @for (tipo of listaTipos; track tipo.value) {
                <option [value]="tipo.value">
                  {{ tipo.label }}
                </option>
              }
            </select>
            <button type="button" (click)="eliminarPregunta(i)">
              X
            </button>
          </div>
          @if (mostrarOpciones(i)) {
            <div class="contenedorOpciones" formArrayName="opciones">
              @for (opcion of getOpcionesArray(i).controls; track j; let j = $index) {
                <div [formGroupName]="j">
                  <label class="opcionLabel">Opcion {{ j + 1 }}</label>
                  <input type="text" formControlName="texto" />
                  <input type="hidden" formArrayName="numero" />
                  <button type="button" (click)="eliminarOpcion(i, j)">
                    X
                  </button>
                </div>
              }
            </div>
            <button class="boton" type="button" (click)="agregarOpcion(i)">
              Nueva Opcion
            </button>
          }
        </div>
      }
    </div>
    <div class="contenedor">
      <button type="button" (click)="agregarPregunta()">Nueva Pregunta</button>
      <button type="submit">Guardar</button>
    </div>
  </form>

  @if (mostrarQR) {
    <div>
      <h3>Enlaces</h3>
      <div>
        <qrcode
          [qrdata]="qrResponder"
          [width]="200"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
        <a>{{ qrResponder }}</a>
        <br>
        <a>{{ urlResultados }}</a>
      </div>
    </div>
  }
</div>